<!DOCTYPE html>
<html>
<head>
	<title>ProvaMaterial</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<script src="./static/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="./static/material.min.css">
	<style>
		body {
			background: url('../static/image/loginbackground.jpg')center / cover;
	    	background-repeat: no-repeat;
		}
	</style>
</head>
<body style=" margin-left:auto;
    margin-right:auto;">
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title">Settings</span>
	    </div>
	 {% if session.permessi %}
	    <!-- Tabs -->
	    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
	      <a href="#add" class="mdl-layout__tab is-active">Add</a>
	      <a href="#remove" class="mdl-layout__tab">Remove</a>
	      <a href="#update" class="mdl-layout__tab">Update</a>
	    </div>
	  {% endif %}
	  </header>

   <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">Settings</span>
		    <nav class="mdl-navigation">
	    	 <a class="mdl-navigation__link" href="{{ url_for('home') }}">Home</a>
	         <a class="mdl-navigation__link" href="{{ url_for('logout') }}">Logout</a>
		    </nav>
		  </div>
{% if session.permessi %}
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="add">
      <div class="page-content">
      	<center>
	      	<div class="mdl-card">
				  <div class="mdl-card__supporting-text" align="left">
				   
				  	<form name="add" action="/add" method="post">
						<p>
							 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="text" name="username" id="username" value="{{username}}">
							    <label class="mdl-textfield__label" for="username">Username...</label>
							 </div>
							
							{% for message in get_flashed_messages(category_filter=["new_username"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="password" name="password" id="password" value={{password}}>
							    <label class="mdl-textfield__label" for="password">Password...</label>
							</div>
							{% for message in get_flashed_messages(category_filter=["new_password"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="password" name="passwordCheck" id="passwordCheck" value={{password}}>
							    <label class="mdl-textfield__label" for="passwordCheck">Repeat Password...</label>
							</div>
							{% for message in get_flashed_messages(category_filter=["new_password"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p>
							<div class="mdl-textfield mdl-js-textfield">
							    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="expiredate" name="expiredate">
							    <label class="mdl-textfield__label" for="expiredate">Expire in...</label>
							    <span class="mdl-textfield__error">Input is not a number!</span>
							 </div>
							{% for message in get_flashed_messages(category_filter=["expiredate"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p style="display:block;">
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="noexpire">
							  <input type="checkbox" id="noexpire" name="noexpire" class="mdl-switch__input">
							  <span class="mdl-switch__label">Infinity User</span>
							</label>
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="permessi">
							  <input type="checkbox" id="permessi" name="permessi" class="mdl-switch__input">
							  <span class="mdl-switch__label">Super User</span>
							</label>
						</p>
						<p align="center">
							<button type="submit" name="accountGen" value="Generate"  formaction="/generate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Generate
							</button>
							&nbsp;
							&nbsp;
							<button type="submit" name="check" value="Check" formaction="/check" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Check
							</button>
							&nbsp;
							&nbsp;
							<button type="submit" name="add" value="add" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Add
							</button>
							{% for message in get_flashed_messages(category_filter=["generate"]) %}
								{{ message }}
							{% endfor %}
						</p>
						</form>
				  </div>
		  </center>
      </div>
    </section>
    

    <section class="mdl-layout__tab-panel" id="remove">
      <div class="page-content">
      	<center>
	      	<div class="mdl-card">
				  <div class="mdl-card__supporting-text" align="left">
				   
				  	<form name="remove" action="/remove" method="post">
						<p>
							 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="text" name="username" id="username" value="{{username}}">
							    <label class="mdl-textfield__label" for="username">Username...</label>
							 </div>
							
							{% for message in get_flashed_messages(category_filter=["new_username"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p align="center">
							<button type="submit" name="check" value="Check" formaction="/check" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Check
							</button>
							&nbsp;
							&nbsp;
							<button type="submit" name="remove" value="Remove" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Remove
							</button>

							{% for message in get_flashed_messages(category_filter=["generate"]) %}
								{{ message }}
							{% endfor %}
						</p>
						</form>
				  </div>
		  </center>
      </div>
    </section>
    

    <section class="mdl-layout__tab-panel" id="update">
      <div class="page-content">
      	<center>
	      	<div class="mdl-card">
				  <div class="mdl-card__supporting-text" align="left">
				   
				  	<form name="update" action="/update" method="post">
						<p>
							 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="text" name="username" id="username" value="{{username}}">
							    <label class="mdl-textfield__label" for="username">Username...</label>
							 </div>
							 <p>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="password" name="password" id="password" value={{password}}>
							    <label class="mdl-textfield__label" for="password">Password...</label>
							</div>
							{% for message in get_flashed_messages(category_filter=["new_password"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="password" name="passwordCheck" id="passwordCheck" value={{password}}>
							    <label class="mdl-textfield__label" for="passwordCheck">Repeat Password...</label>
							</div>
							{% for message in get_flashed_messages(category_filter=["new_password"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p>
							<div class="mdl-textfield mdl-js-textfield">
							    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="expiredate" name="expiredate">
							    <label class="mdl-textfield__label" for="expiredate">Expire in...</label>
							    <span class="mdl-textfield__error">Input is not a number!</span>
							 </div>
							{% for message in get_flashed_messages(category_filter=["expiredate"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p style="display:block;">
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="u_noexpire">
							  <input type="checkbox" id="u_noexpire" name="u_noexpire" class="mdl-switch__input">
							  <span class="mdl-switch__label">Infinity User</span>
							</label>
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="u_permessi">
							  <input type="checkbox" id="u_permessi" name="u_permessi" class="mdl-switch__input">
							  <span class="mdl-switch__label">Super User</span>
							</label>
						</p>
							{% for message in get_flashed_messages(category_filter=["new_username"]) %}
								{{ message }}
							{% endfor %}
						</p>
						<p align="center">
							<button type="submit" name="u_check" value="Check" formaction="/check" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Check
							</button>
							&nbsp;
							&nbsp;
							<button type="submit" name="update" value="Update" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							  Remove
							</button>
							
							{% for message in get_flashed_messages(category_filter=["generate"]) %}
								{{ message }}
							{% endfor %}
						</p>
						</form>
				  </div>
		  </center>
      </div>
    </section>
</main>


{% else %}
{% endif %}

</div>

</body>
</html>